.midle{
    width: 10rem;
}


.stockInputs{
    display: flex;
}

.stockInputs div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    width: 1.5rem;
    height: 1.5rem;
}

.trushIcon{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 5px;
    color: #434343;
    cursor: pointer;
}

.subTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
}