.midle{
    width: 10rem;
}

.stockInputs{
    display: flex;
}

.stockInputs div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    width: 1.5rem;
    height: 1.5rem;
}

.trushIcon{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 5px;
    color: #434343;
    cursor: pointer;
}

.subTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
}

.input{
    width: 100%;
    text-align: left;
    padding: .5rem;
    border: 1px solid #ccc;
}

.input:focus{
    box-shadow: none !important;
    outline: none !important;
    border-color: #444;
}

.input::placeholder{
    color: rgb(168, 166, 166);
}