.containerCards{
  display: grid;
  width: 90%;
  grid-template-columns: 300px 300px 300px;
  place-content: center;
}

@media (max-width: 1000px){
  .containerCards{
    grid-template-columns: 320px 320px;
  }
}
@media (max-width: 722px){
  .containerCards{
    grid-template-columns: 250px 250px;
  }
}
@media (max-width: 550px){
  .containerCards{
    grid-template-columns: 200px 200px;
  }
}
@media (max-width: 486px){
  .containerCards{
    grid-template-columns: 180px 180px;
  }
}
@media (max-width: 446px){
  .containerCards{
    grid-template-columns: 300px;
  }
}