.ContainerProductDetail{
    width: 70rem;
    padding: 1rem;
    margin: 1rem auto;
    height: max-content;
}

.containerDataOfProduct{
    display: flex;
    gap: 3rem;
    animation: isAppear .5s;
}

.containerImage{
    display: flex;
    position: relative;
    overflow-x: scroll;
    width: 500px;
    height: 500px;
}

.carrousel{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 500px;
    height: 500px;
}

.containerImage:hover svg {
    opacity: 1;
}
.containerImage::-webkit-scrollbar{
    width: 0px;
}

.containerImage div{
    min-width: 500px;
    min-height: 500px;
}

.containerImage img{
    background-color: #ccc;
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.containerRightProduct{
    display: flex;
    min-width: 300px;
    flex-direction: column;
}

.containerRightProduct > h2{
    text-transform: uppercase;
    
}

.lds_ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds_ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #444;
    border-radius: 50%;
    animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #444 transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
    animation-delay: -0.45s;    
}
.lds_ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
    animation-delay: -0.15s;
}


.lds_ring_small {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
  }
.lds_ring_small div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -1.1rem;
    margin: 8px;
    border: 3px solid #b6b3b3;
    border-radius: 50%;
    animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #b6b3b3 transparent transparent transparent;
}
.lds_ring_small div:nth-child(1) {
    animation-delay: -0.45s;    
}
.lds_ring_small div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds_ring_small div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds_ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

@media (max-width: 1100px){
    .ContainerProductDetail{
        width: 50rem;
    }
}
@media (max-width: 770px){
    .ContainerProductDetail{
        width: 85%;
    }
    .containerDataOfProduct{
        flex-direction: column;
    }
    .containerImage{
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .containerImage{
        width: 400px;
        height: 400px;
    }

    .containerImage div {
        min-width: 400px;
        min-height: 500px;
    }
}
@media (max-width: 480px){
    .containerImage{
        width: 350px;
        height: 350px;
    }

    .containerImage div {
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 430px){
    .containerImage{
        width: 300px;
        height: 300px;
    }

    .containerImage div {
        min-width: 300px;
        min-height: 500px;
    }
    .containerImage div img{
        width: 300px;
        height: 500px;
    }
}

@keyframes isAppear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}